lib/META-INF/wsdl/NdcResService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ndc="http://www.iata.org/IATA/EDIST" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ibsplc.com/wsdl/ndc" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="NdcService" targetNamespace="http://www.ibsplc.com/wsdl/ndc">
  <types>
    <xs:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ndc="http://www.iata.org/IATA/EDIST" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ibsplc.com/wsdl/ndc" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/EDIST">
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:include></xs:include>
      <xs:import namespace="http://www.ibsplc.com/iFlyRes/simpleTypes" schemaLocation="NdcResService_res_commontypes.xsd"></xs:import>
    </xs:schema>
  </types>
  <message name="servicePriceResponse">
    <part element="ndc:ServicePriceRS" name="parameters"></part>
  </message>
  <message name="baggageListRequest">
    <part element="ndc:BaggageListRQ" name="parameters"></part>
  </message>
  <message name="orderCreateRequest">
    <part element="ndc:OrderCreateRQ" name="parameters"></part>
  </message>
  <message name="flightPriceResponse">
    <part element="ndc:FlightPriceRS" name="parameters"></part>
  </message>
  <message name="invGuaranteeRequest">
    <part element="ndc:InvGuaranteeRQ" name="parameters"></part>
  </message>
  <message name="baggageListResponse">
    <part element="ndc:BaggageListRS" name="parameters"></part>
  </message>
  <message name="serviceListRequest">
    <part element="ndc:ServiceListRQ" name="parameters"></part>
  </message>
  <message name="invReleaseNotif">
    <part element="ndc:InvReleaseNotif" name="parameters"></part>
  </message>
  <message name="shopAirResponse">
    <part element="ndc:AirShoppingRS" name="parameters"></part>
  </message>
  <message name="fareRulesRequest">
    <part element="ndc:FareRulesRQ" name="parameters"></part>
  </message>
  <message name="fareRulesResponse">
    <part element="ndc:FareRulesRS" name="parameters"></part>
  </message>
  <message name="orderListRequest">
    <part element="ndc:OrderListRQ" name="parameters"></part>
  </message>
  <message name="orderRetrieveRequest">
    <part element="ndc:OrderRetrieveRQ" name="parameters"></part>
  </message>
  <message name="flightPriceRequest">
    <part element="ndc:FlightPriceRQ" name="parameters"></part>
  </message>
  <message name="baggageAllowanceResponse">
    <part element="ndc:BaggageAllowanceRS" name="parameters"></part>
  </message>
  <message name="acknowledgement">
    <part element="ndc:Acknowledgement" name="parameters"></part>
  </message>
  <message name="shopAirRequest">
    <part element="ndc:AirShoppingRQ" name="parameters"></part>
  </message>
  <message name="seatAvailabilityRequest">
    <part element="ndc:SeatAvailabilityRQ" name="parameters"></part>
  </message>
  <message name="baggageAllowanceRequest">
    <part element="ndc:BaggageAllowanceRQ" name="parameters"></part>
  </message>
  <message name="servicePriceRequest">
    <part element="ndc:ServicePriceRQ" name="parameters"></part>
  </message>
  <message name="baggageChargeResponse">
    <part element="ndc:BaggageChargesRS" name="parameters"></part>
  </message>
  <message name="invGuaranteeResponse">
    <part element="ndc:InvGuaranteeRS" name="parameters"></part>
  </message>
  <message name="orderListResponse">
    <part element="ndc:OrderListRS" name="parameters"></part>
  </message>
  <message name="seatAvailabilityResponse">
    <part element="ndc:SeatAvailabilityRS" name="parameters"></part>
  </message>
  <message name="serviceListResponse">
    <part element="ndc:ServiceListRS" name="parameters"></part>
  </message>
  <message name="airDocDisplayResponse">
    <part element="ndc:AirDocDisplayRS" name="parameters"></part>
  </message>
  <message name="baggageChargeRequest">
    <part element="ndc:BaggageChargesRQ" name="parameters"></part>
  </message>
  <message name="airDocDisplayRequest">
    <part element="ndc:AirDocDisplayRQ" name="parameters"></part>
  </message>
  <message name="orderViewResponse">
    <part element="ndc:OrderViewRS" name="parameters"></part>
  </message>
  <portType name="NdcResServicePort">
    <operation name="shopAir">
      <input message="tns:shopAirRequest"></input>
      <output message="tns:shopAirResponse"></output>
    </operation>
    <operation name="releaseInventory">
      <input message="tns:invReleaseNotif"></input>
      <output message="tns:acknowledgement"></output>
    </operation>
    <operation name="guaranteeInventory">
      <input message="tns:invGuaranteeRequest"></input>
      <output message="tns:invGuaranteeResponse"></output>
    </operation>
    <operation name="getBaggageAllowance">
      <input message="tns:baggageAllowanceRequest"></input>
      <output message="tns:baggageAllowanceResponse"></output>
    </operation>
    <operation name="listServices">
      <input message="tns:serviceListRequest"></input>
      <output message="tns:serviceListResponse"></output>
    </operation>
    <operation name="priceServices">
      <input message="tns:servicePriceRequest"></input>
      <output message="tns:servicePriceResponse"></output>
    </operation>
    <operation name="createOrder">
      <input message="tns:orderCreateRequest"></input>
      <output message="tns:orderViewResponse"></output>
    </operation>
    <operation name="retrieveOrder">
      <input message="tns:orderRetrieveRequest"></input>
      <output message="tns:orderViewResponse"></output>
    </operation>
    <operation name="fareRules">
      <input message="tns:fareRulesRequest"></input>
      <output message="tns:fareRulesResponse"></output>
    </operation>
    <operation name="listOrder">
      <input message="tns:orderListRequest"></input>
      <output message="tns:orderListResponse"></output>
    </operation>
    <operation name="showSeatAvailability">
      <input message="tns:seatAvailabilityRequest"></input>
      <output message="tns:seatAvailabilityResponse"></output>
    </operation>
    <operation name="airDocDisplay">
      <input message="tns:airDocDisplayRequest"></input>
      <output message="tns:airDocDisplayResponse"></output>
    </operation>
    <operation name="getBaggageList">
      <input message="tns:baggageListRequest"></input>
      <output message="tns:baggageListResponse"></output>
    </operation>
    <operation name="getBaggageCharge">
      <input message="tns:baggageChargeRequest"></input>
      <output message="tns:baggageChargeResponse"></output>
    </operation>
    <operation name="flightPrice">
      <input message="tns:flightPriceRequest"></input>
      <output message="tns:flightPriceResponse"></output>
    </operation>
  </portType>
  <binding name="NdcResServiceSOAPBinding" type="tns:NdcResServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="shopAir">
      <soap:operation soapAction="shopAir"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="releaseInventory">
      <soap:operation soapAction="releaseInventory"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="guaranteeInventory">
      <soap:operation soapAction="guaranteeInventory"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="createOrder">
      <soap:operation soapAction="createOrder"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getBaggageAllowance">
      <soap:operation soapAction="getBaggageAllowance"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="listServices">
      <soap:operation soapAction="listServices"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="priceServices">
      <soap:operation soapAction="priceServices"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="retrieveOrder">
      <soap:operation soapAction="retrieveOrder"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="fareRules">
      <soap:operation soapAction="fareRules"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="listOrder">
      <soap:operation soapAction="listOrder"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="showSeatAvailability">
      <soap:operation soapAction="showSeatAvailability"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="airDocDisplay">
      <soap:operation soapAction="airDocDisplay"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getBaggageList">
      <soap:operation soapAction="getBaggageList"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getBaggageCharge">
      <soap:operation soapAction="getBaggageCharge"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="flightPrice">
      <soap:operation soapAction="flightPrice"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
  </binding>
  <service name="NdcResService">
    <port binding="tns:NdcResServiceSOAPBinding" name="NdcResServiceSOAPPort">
      <soap:address location="http://192.168.8.113:6002/iRes_NdcRes_WS/services/NdcResServiceSOAPPort"></soap:address>
    </port>
  </service>
</definitions>