lib/META-INF/wsdl/NdcResService_res_commontypes.xsd

<xsd:schema xmlns:urn="http://www.ibsplc.com/iFlyRes/simpleTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibsplc.com/iFlyRes/simpleTypes">
  <xsd:include></xsd:include><!--Booking Aug Point-Start-->
  <xsd:element name="AgencyFOPAugPoint">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:annotation>
          <xsd:documentation>IBS specific augmentation
            type to hold Agent Payment Information.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="password" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field should be encrypted with the supplied public key
              Max Length: 8</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PaxCountAugPoint">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">IBS specific augmentation type to hold Pax Count Details Information.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PTC">
        <xsd:annotation>
          <xsd:documentation source="description" xml:lang="en">A data type for Passenger Type Code (PTC) encoding constraint: IATA (three character) Passenger Type Codes</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="3"></xsd:length>
            <xsd:pattern value="[A-Z]{3}"></xsd:pattern>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Quantity" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation source="description" xml:lang="en">Number of Traveler(s) for associated passenger type.
                        Example: 2</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="ObjectKey" type="xsd:ID">
      <xsd:annotation>
        <xsd:documentation source="description" xml:lang="en">Object globally unique Instance ID. Example: obj1</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="GroupPaxAugPoint">
    <xsd:complexType>
      <xsd:annotation>
        <xsd:documentation xml:lang="en">IBS specific augmentation type to hold Details Information for Group PNR.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="PaxCountDetails" type="urn:PaxCountAugPoint"></xsd:element>
        <xsd:element minOccurs="0" name="GroupQuoteNumber">
          <xsd:annotation>
            <xsd:documentation>GroupQuoteNumber. Max Length: 64</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:length value="64"></xsd:length>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TravellerAugPoint">
    <xsd:complexType>
      <xsd:annotation>
        <xsd:documentation xml:lang="en">IBS specific augmentation type to hold Passenger Details Information.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="PnrType" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Type of pnr that is to be created.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="LocalGivenName" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>First name of the guest in Unicode for local language support. Max Length: 50</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="LocalSurName" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Last name of the guest in Unicode for local language support. Max Length: 50</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="PreferredLanguage" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Language that should be used for communications via mail</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="PnrStatus" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Status of the PNR</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="GuestAmountDetails" type="urn:GuestAmountDetailsType">
          <xsd:annotation>
            <xsd:documentation>Guest Amount Details.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="PaxType" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Passenger Type.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="isServiceBooking" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation>The field used for identifying  it is service booking or not. In service booking call it is set as true otherwise false.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="TourOperatorCode" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Used for capturing tour operator code details.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="TourOperatorBookingNo" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Used for capturing tour operator reference number.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GuestAmountDetailsType">
    <xsd:annotation>
      <xsd:documentation>Guest Amount Details.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PriceAmount" type="urn:CurrencyAmountType">
        <xsd:annotation>
          <xsd:documentation>The fare to be Paid by the guest. Max Length: 18,5</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FeeAmount" type="urn:CurrencyAmountType">
        <xsd:annotation>
          <xsd:documentation>Total Fee amount to be Paid by the guest. Max Length: 18,5</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalAmount" type="urn:CurrencyAmountType">
        <xsd:annotation>
          <xsd:documentation>Total Amount to be Paid by the guest. Max Length: 18,5</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AmountToBePaid" type="urn:CurrencyAmountType">
        <xsd:annotation>
          <xsd:documentation>The amount that the guest has to pay. Max Length: 18,5</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AmountPaid" type="urn:CurrencyAmountType">
        <xsd:annotation>
          <xsd:documentation>The amount Paid by the guest. Max Length: 18,5</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ContactAugPoint">
    <xsd:complexType>
      <xsd:annotation>
        <xsd:documentation xml:lang="en">IBS specific augmentation type to hold Contact Details Information.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="SendItineraryToEmailId" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation>The boolean that decides that email need to be send to the agency email when an itenary is created</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="SendItineraryToSMS" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation>Indicates to send Itinerary to source cell number as SMS. Max Length: 50</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element><!--Booking AugPoint-End--><!--FSI AugPoint-Start-->
  <xsd:element name="FareDetailAugPoint">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">IBS specific augmentation
				type to hold the fare details like Fare Type, Fare Sub-type fields.
				This is necessary to be passed to successor services for PNR
				creation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="FareType" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Fare type family definition of a fare
							eg. FLEXI, INCLUSIVE, NORMAL etc...</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="FareSubType" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Fare sub type definition of a fare</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="FareLevel" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">This defines the fares that can accessed by the Sender</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="FareBasis" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">This defines the fares that can accessed by the Sender</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PricingUnitAugPoint">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">IBS specific augmentation type to hold the PricingUnit ID for an Origin Destination</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="PricingUnitID" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The PricingUnitId to map the onward and return flights in a OandD list. Pricing unit ID will be same for round-trip flights.
					Max Length: 5</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="JourneyDataAugPoint">
    <xsd:annotation>
      <xsd:documentation>Itinerary Details</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="FlightSegmentDetails" type="urn:FlightSegmentDetailsType">
          <xsd:annotation>
            <xsd:documentation>This element will have details of flight segment in the PNR.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="FareComponentDetails" type="urn:FareComponentDetailType">
          <xsd:annotation>
            <xsd:documentation>This element will have details of flight segment in the PNR.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FlightSegmentDetailsType">
    <xsd:annotation>
      <xsd:documentation>Itinerary Details</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FlightIDRef" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unique Identifier for the flight.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SegmentId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The Segment Id to uniquely identify the segment.
					Max Length: 25</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MarketingCarrierCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Carrier Code of the Operationg airline
							Max Length: 6</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MarketingFlightNumber" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The number assigned to a particular flight in the system.
					Max Length: 5</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="OperatingCarrierCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Carrier Code of the Operationg airline
							Max Length: 6</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="OperatingFlightNumber" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The number assigned to a particular flight in the system.
					Max Length: 5</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepartureAirport" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Airport code for the starting point of the segment.
					Max Length: 5</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepartureDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation source="description" xml:lang="en">Departure Date. Example: 2017-01-11</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepartureTime" type="urn:TimeSimpleType">
        <xsd:annotation>
          <xsd:documentation source="description" xml:lang="en">Arrival time. Example: 09:15

Encoding Scheme: ISO 8601 Military/ 24 Hour Format (HH:MM)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArrivalAirport" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Airport code for the starting point of the segment.
					Max Length: 5</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArrivalDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation source="description" xml:lang="en">Departure Date. Example: 2017-01-11</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArrivalTime" type="urn:TimeSimpleType">
        <xsd:annotation>
          <xsd:documentation source="description" xml:lang="en">Arrival time. Example: 09:15

Encoding Scheme: ISO 8601 Military/ 24 Hour Format (HH:MM)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FareComponentDetailType">
    <xsd:sequence>
      <xsd:element name="FareBasisCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The farebasis in which the booking is made for the passengers.
					Max Length: 8</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SegmentIDRefs" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The Segment Id to uniquely identify the segment.
					Max Length: 25</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PricingUnitID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The PricingUnitId to map the onward and return flights in a OandD list. Pricing unit ID will be same for round-trip flights.
					Max Length: 5</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FareComponentId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The Fare component id</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CurrencyAmountType">
    <xsd:annotation>
      <xsd:documentation source="description" xml:lang="en">AMOUNT with OPTIONAL CURRENCY ENCODING representation.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attributeGroup ref="urn:AmountCurrencyOptGroup"></xsd:attributeGroup>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="FareComponentAugPoint">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="BaseFare" type="urn:CurrencyAmountType">
          <xsd:annotation>
            <xsd:documentation>Base Fare for the pax type.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="AppliedFare" type="urn:CurrencyAmountType">
          <xsd:annotation>
            <xsd:documentation>(Base Fare - Discount) in point of sale currrency (For Display).</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="DisplayFare" type="urn:CurrencyAmountType">
          <xsd:annotation>
            <xsd:documentation>(Base Fare - Discount) + DisplayTax + DisplaySurcharge in point of sale currency.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="Discount" type="urn:CurrencyAmountType">
          <xsd:annotation>
            <xsd:documentation>Discount in point of Sale currency</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OfferPriceAugPoint">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="AppliedFare" type="urn:CurrencyAmountType">
          <xsd:annotation>
            <xsd:documentation>Base Fare for a pax type.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="DisplayFare" type="urn:CurrencyAmountType">
          <xsd:annotation>
            <xsd:documentation>(Base Fare - Discount) for a pax type.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TaxDetailAugPoint">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="DisplayTaxCode" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>iFlyRes tax code.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FareRefreshAugPoint">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="IsFareRefreshRequired" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation>This is a boolean value and indicates whether fare refresh is required.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element><!--FSI AugPoint-End--><!--FRA AugPoint-Start-->
  <xsd:element name="FlightAncillaryAugPoint">
    <xsd:complexType>
      <xsd:annotation>
        <xsd:documentation xml:lang="en">IBS specific augmentation type to hold the SSR Field information.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element name="ServiceAttributes">
          <xsd:annotation>
            <xsd:documentation source="description" xml:lang="en">This object holds the list of ServiceAttribute objects,which details the fieldName and fieldValue</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="ServiceAttribute">
                <xsd:annotation>
                  <xsd:documentation source="description" xml:lang="en">ServiceAttribute object</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="Name" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation source="description">SSR Field Name.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="Value" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation source="description">Field Value</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" name="AuxCategory" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>AUX Category like Car Rental etc. Max Length: 20</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ItineraryAmountDetailAugPoint">
    <xsd:complexType>
      <xsd:annotation>
        <xsd:documentation xml:lang="en">IBS specific augmentation type to hold the itinerary level amount information.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="TotalPriceAmount" type="urn:CurrencyAmountType">
          <xsd:annotation>
            <xsd:documentation>Holds the total price amount for the PNR</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="TotalFeeAmount" type="urn:CurrencyAmountType">
          <xsd:annotation>
            <xsd:documentation>Holds the total fee amount for the PNR</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="TotalAmount" type="urn:CurrencyAmountType">
          <xsd:annotation>
            <xsd:documentation>Holds the total amount for the PNR</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="TotalAmountToBePaid" type="urn:CurrencyAmountType">
          <xsd:annotation>
            <xsd:documentation>Holds the total amount pending for the PNR for the corresponding currency code.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="TotalAmountPaid" type="urn:CurrencyAmountType">
          <xsd:annotation>
            <xsd:documentation>Holds the total amount paid  for the PNR for the corresponding currency code.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element><!--FRA AugPoint-End--><!--DCS AugPoint-Start-->
  <xsd:element name="LoyaltyAugPoint">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:annotation>
          <xsd:documentation>IBS specific augmentation
            type to hold loyalty Information.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="TierLevel" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the tier level</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AgencyAugPoint">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:annotation>
          <xsd:documentation>IBS specific augmentation
                     type to hold agency id</xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
          <xsd:element name="CorporateId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>This field holds the corporate ID</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TourOperatorCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>This field holds the tour operator code</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TravelAgencyCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>This field holds the travel agency code</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConvenienceStoreFOPAugPoint">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:annotation>
          <xsd:documentation>IBS specific augmentation type to hold Convenience Store Payment Information.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="ConvenienceStoreType" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Convenience Store Type</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ConvenienceStoreCode" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Convenience Store Code</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ConvenienceStoreName" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Convenience Store Name</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CustomerFirstName" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Customer Firs tName</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CustomerLastName" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Customer Last Name</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CustomerPhonenumber" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Customer Phone number</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EftFOPAugPoint">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:annotation>
          <xsd:documentation>IBS specific augmentation type to hold EFT Payment Information.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="OriginalAuthCode" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the OriginalAuthCode Type</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="AuthorisationCode" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Authorisation Code</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="OriginalAuthDate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Original Authorisation Date</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="AuthenticationTxnId" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Authentication Transaction Id</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="PaymentStatus" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Payment Status</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="TokenNumber" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Token Number</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ProcReturnCode" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Proc Return Code</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="PaymentMethod" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Payment Method</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ExchangeRate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Exchange Rate</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="PaymentDescription" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Payment Description</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PayPalFOPAugPoint">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:annotation>
          <xsd:documentation>IBS specific augmentation type to hold PayPal Payment Information.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="PaymentTypeNumber" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Payment Type Number</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="AuthenticationTxnId" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Authentication Transaction Id</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="PaymentDescription" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Payment Description</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ExchangeRate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This field holds the Exchange Rate</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element><!--DCS AugPoint-End-->
</xsd:schema>